<!DOCTYPE html>

<head>
    <title>DevCard از موسسه پیمان</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <script defer src="~/js/all.js"></script>
    <link id="theme-style" rel="stylesheet" href="~/css/theme-1.css">
    <link id="theme-style" rel="stylesheet" href="~/css/style.css">

</head>
<body>



    <header class="header text-center">
        <div class="force-overflow">
            <h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">آقا پیمان </a></h1>

            <nav class="navbar navbar-expand-lg navbar-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navigation" class="collapse navbar-collapse flex-column">
                    <div class="profile-section pt-3 pt-lg-0">
                        <img class="profile-image mb-3 rounded-circle mx-auto" src="~/images/me.jpeg" alt="image">

                        <div class="bio mb-3">
                            درود پیمان هستم اومدم که موفقیتهای خودم رو گسترش بدم
                        </div>
                        <ul class="social-list list-inline py-2 mx-auto">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
                        </ul>
                        <hr>
                    </div>
                    <ul class="navbar-nav flex-column text-right">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">
                                <i class="fas fa-user fa-fw ml-2"></i>صفحه اصلی<span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">
                                <i class="fas fa-envelope-open-text fa-fw ml-2"></i>ارتباط با ما
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <img src="~/mvc-first/images/me.png"/>


</body>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - mvc_first - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
<script src="~/lib/bootstrap/dist/jquery-3.4.1.min.js"></script>

</html>
